*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: aqua;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    text-align: center;

}

li {
   float: left;
}

li a {
    display: block;
    color: rgb(107, 136, 184);
    text-align: center;
    padding: 40px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.navegador{
     height: 100px;
    background-color: rgb(255, 255, 255);
}

.fight{
    height: 500px;
    background-color: rgb(255, 255, 255);
    

}

.why{
    height: 500px;
    background-color: rgb(255, 255, 255);
    

}

why{
    float: left;
    width: 47%;
    height: 500px;
    background: rgb(254, 254, 255);
}
.vacunas{
    height: 100px;
    background-color: rgb(104, 52, 52);
}

derecha{
    float: right;
    width: 48%;
    height: 500px;
    background: rgb(39, 115, 220);
    
}

izquierda{
    float: left;
    width: 47%;
    height: 500px;
    background: rgb(254, 254, 255);
    
}




.barrabaja{
    height: 200px;
    background-color: rgb(239, 243, 254);
}