*{box-sizing: border-box;; list-style:none; margin:0; padding:0; font-family: helvetica; } 

body{margin:0px; padding:0px; font-family: 'Open Sans', sans-serif;} 

section{
    width:100%; 
    max-width:1200px; 
    margin:0px auto; 
    display:table; 
    position:relative;
color: #002e5b;} 

h1{margin:0px auto; display:table; font-size:26px; padding:40px 0px; color:#002e5b; text-align:center;}
h1 span{font-weight:500;}

ul{ text-align: center;/*centrado*/}
}

header{width:100%; 
    display:table; 
    background-color:#ffffff; 
    margin-bottom:50px;}


#logo{float:left; font-size:24px; text-transform:uppercase; color:#002e5b; font-weight:600; padding:20px 0px;}
nav{width:auto; float:right;}
nav ul{display:table; float:right;}
nav ul li{float:left;}
nav ul li:last-child{padding-right:0px;}
nav ul li a{color:#002e5b; font-size:18px; padding: 25px 20px; display:inline-block; transition: all 0.5s ease 0s;}
nav ul li a:hover{background-color:#002e5b; color:#fde428; transition: all 0.5s ease 0s;}
nav ul li a:hover i{color:#fde428; transition: all 0.5s ease 0s;}





.toggle-menu ul{display:table; width:25px;}
.toggle-menu ul li{width:100%; height:3px; background-color:#002e5b; margin-bottom:4px;}
.toggle-menu ul li:last-child{margin-bottom:0px;}

input[type=checkbox], label{display:none;}

.content{display:table; margin-bottom:60px; width:900px;}
.content h2{font-size:18px; font-weight:500; color:#002e5b; border-bottom:1px solid #fde428; display:table; padding-bottom:10px; margin-bottom:10px;}
.content p{font-size:14px; line-height:22px; color:#7c7c7c; text-align:justify;}

footer{display:table; padding-bottom:30px; width:100%;}
.social{margin:0px auto; display:table; display:table;}
.social li{float:left; padding:0px 10px;}
.social li a{color:#002e5b; transition: all 0.5s ease 0s;}
.social li a:hover{color:#fde428; transition: all 0.5s ease 0s;}

@media only screen and (max-width: 1440px) {
section{max-width:95%;}
}

@media only screen and (max-width: 980px) {
header{padding:20px 0px;}
#logo{padding:0px;}
input[type=checkbox] {position: absolute; top: -9999px; left: -9999px; background:none;}
input[type=checkbox]:fous{background:none;}
label {float:right; padding:8px 0px; display:inline-block; cursor:pointer; }
input[type=checkbox]:checked ~ nav {display:block;}

nav{
    display:none; 
    position:absolute; 
    right:0px; top:53px; 
    background-color:#002e5b; 
    padding:0px; z-index:99;
} 

nav ul{
    width:auto;
}
nav ul li{
    float:none; 
    padding:0px; 
    width:100%; 
    display:table;
}
nav ul li a{color:#FFF; font-size:15px; padding:10px 20px; display:block; border-bottom: 1px solid rgba(225,225,225,0.1);}
nav ul li a i{color:#fde428; padding-right:13px;}
}

@media only screen and (max-width: 980px) {
.content{width:90%;}
}

@media only screen and (max-width: 568px) {
h1{padding:25px 0px;}
h1 span{display:block;}
}

@media only screen and (max-width: 480px) {
section {max-width: 90%;}
}

@media only screen and (max-width: 360px) {
h1{font-size:20px;}
label{padding:5px 0px;}
#logo{font-size: 20px;}
nav{top:47px;}
}

@media only screen and (max-width: 320px) {
h1 {padding: 20px 0px;}
}


.boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #006505;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }

  .centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: relative;
	animation: scroll $animationSpeed linear infinite;
	
}

floter1{
    left: 20px;
    background-color: #000000;
}






/*carrusel*/

#conteItemsCarrusel{ /*contenedor de los items*/
    height: 200px; /*altura del contenedor*/
    overflow: hidden; /*ocultar el contenedor*/
}

.itemCarrusel{ /*clase del item*/
    height: 100%; /*altura del item*/
    position : relative; /*posicionamiento relativo*/
}

.tarjetaCarrusel{ /*clase de la tarjeta*/
    height: 100%; /*altura de la tarjeta*/
}

.flechasCarrusel{ /*clase de las flechas*/
   position: absolute; /*posicionamiento absoluto*/
   top: 0; /*posicionamiento de la flecha*/
    height: 100%; /*altura de la flecha*/
    width: 100%; /*anchura de la flecha*/
    display: flex; /*flexibilidad*/
    align-items: center; /*alineacion vertical*/
    justify-content: space-between; /*alineacion horizontal*/
    padding: 20px; /*espacio entre flechas*/
}

#tarjetaCarrusel-1{ /*id de la tarjeta 1*/
    background-color: #ffffff00;
}
#tarjetaCarrusel-2{ /*id de la tarjeta 2*/
    background-color: #ffffff00;
}
#tarjetaCarrusel-3{ /*id de la tarjeta 3*/
    background-color: #ffffff00;
}
#tarjetaCarrusel-4{ /*id de la tarjeta 4*/
    background-color: #ffffff00;
}

a{
    text-decoration: none; /*sin decoraciones*/
}
i{
    color: rgb(0, 0, 0); /*color
}

/*Fin del carrusel*/

/*tajetas*/

div.tarjeta{
    width: 250px; /* ancho de la tarjeta */
    margin: 0 auto; /*centra el contenido*/
    text-align: center; /*centrado*/
}

div.beneficios{
    width: 250px; /* ancho de la tarjeta */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*color de sombra*/
    text-align: center; /*alineacion del texto*/
}

div.contenido{
    padding: 5px;/*espacio entre el borde y el texto*/
}

/*fin de tajetas*/

/* css de acordeon*/

 /* div.subapartado{
      width: 600px; /* ancho de la tarjeta */
  /*    min-height: 600px; /* altura de la tarjeta */
  /*    background-color: green; /*color de fondo*/
 /* }

  /*div.contenido1{
      width: 600px; /* ancho de la tarjeta */
  /*    height: 50px; /* altura de la tarjeta */
  /*    background-color: #24c06f;
  }

  p.contenido1{
     margin: 14px; /*espacio entre el borde y el texto*/
  /*   color: white; /*color del texto*/
 /* }
  /*div.info{
    width: 600px; /* ancho de la tarjeta */
  /*  min-height: 200px; /* altura de la tarjeta */
   /* background-color: blue;
    overflow: hidden; /*ocultar el contenido*/
 /* }

  p.info{
      margin: 20px; /*espacio entre el borde y el texto*/
  /*    text-align: center;
      color: #002e5b;
  }

div.subapartado:hover div.info{
    height: 180px; /* altura de la tarjeta */
/*}
  /* css de acordeon*/

  section p {
   width: 100%;
    text-align: justify;
    background: #00000000;
    
  }
  
  section a {
   width: 200px;/* ancho de la tarjeta */
    height: 200px;/* altura de la tarjeta */
    background-color: #a8b8ff;
    border-bottom: 2px solid gray;
    color: rgb(0, 0, 0);
  }
  
  section:target p {
    max-height: 120px;
    padding: 10px;
  }







  
  
  .container {
    width: 600px;/* ancho de la tarjeta */
    /* background-color: #f1f1f1; */
      /* margin: auto; */	
      box-shadow: 7px 13px 37px rgba(0, 0, 0, .5);
  
  }
  
  section p {
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    font-family: "Courier New", Courier, monospace;
    background: #e4e4e4;
    transition: all 0.2s ease-in;
  }
  
  section a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    background-color: #212121;
    border-bottom: 2px solid gray;
    color: white;
  }
  
  section:target p {
    max-height: 120px;
    padding: 10px;
  }



  .cajita{
width: 100%;
height: 20%;
color: #006505;
  }
  .bobre{
    width: 100%;
    height: 20%;
    color: #006505;
  }