
  
 
  
  section p {
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    font-family: "Courier New", Courier, monospace;
    background: #e4e4e4;
    transition: all 0.2s ease-in;
  }
  
  section a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    background-color: #212121;
    border-bottom: 2px solid gray;
    color: white;
  }
  
  section:target p {
    max-height: 120px;
    padding: 10px;
  }