/*carrusel*/
*{box-sizing: border-box;; list-style:none; margin:0; padding:0; }
#conteItemsCarrusel{
    height: 200px;
    overflow: hidden;
}

.itemCarrusel{
    height: 100%;
    position : relative;
}

.tarjetaCarrusel{
    height: 100%;
}

.flechasCarrusel{
   position: absolute;
   top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#tarjetaCarrusel-1{
    background-color: #703535;
}
#tarjetaCarrusel-2{
    background-color: #da9494;
}
#tarjetaCarrusel-3{
    background-color: #87c01f;
}

a{
    text-decoration: none;
}
i{
    color: rgb(255, 255, 255);
}